---
import BaseLayout from '../layouts/BaseLayout.astro'
import '../styles/global.css'
const pageTitle = 'About me'
const identity = {
  firstname: 'Nob',
  lastname: 'Yuasys',
  hobbies:["Jazz", "swiming", "Programing"]
}
const isFree = false
---
<BaseLayout pageTitle={pageTitle}>
 <h1>{pageTitle}</h1>
 <p>このブログは、Astroを練習するために作りました。<br>
主に<a href="">このYoutube動画</a>を参考にさせていただきましたことを感謝を込めて報告します。</p>
<dl>
  <dt>名前</dt>
  <dd>{identity.lastname} {identity.firstname}</dd>
  <dt>趣味</dt>
  <dd>{identity.hobbies.map(hobbie=><>{hobbie+' '}</>)}</dd>
</dl>

{isFree ? <p>お仕事募集中</p>:<p style="color:red"><b>現在多忙中です</b></p>}
</BaseLayout>
  
